<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Vilius Kasperavicius Weather app</h1>
    <p>This application lists the current weather of Vilnius and  it's precitipation</p>


    <table class="table">
        <tr>

            <th>Latitude</th>
            <th>Longitude</th>
            <th>Temperature </th>
            <th>Units</th>
            <th>Time </th>
        </tr>
        <tr th:each="todayWeather : ${todayWeathers}">

            <td th:text="${todayWeather.lat}"></td>
            <td th:text="${todayWeather.lon}"></td>
            <td th:text="${todayWeather.temp_val}"></td>
            <td th:text="${todayWeather.units}"></td>
            <td th:text="${todayWeather.time}"></td>

        </tr>
    </table>
</div>

</body>
</html>